.container {
    margin-top: 0.5rem;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
}
.container h1{
    margin-left: 1rem;
    align-self: flex-start;
    transition: all .4s ease-in;
}
.container .navbar{
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .links {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.container ul a {
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: all .5s ease;
}
.container ul a:hover {
    border-bottom: 3px solid var(--color-theme);
}
.container .report-btn {
    border-radius: 1rem;
    background: var(--color-theme);
    padding: 0.3rem 1.6rem;
}
.container .report-btn {
    color: var(--color-text-white);
    font-size: 1rem;
    font-weight: bold;
    box-shadow: var(--box-shadow);
}
.container .report-btn:hover:active {
    transform: scale(1.05);
}
.container .toggle-menu {
    align-self: flex-end;
    transition: all .3 ease-in;
    display: none;
}

.container .menu-dropdown {
    display: none;
    position: absolute;
    top: 3rem;
    right: 1rem;
    width: var(--width-menu-dropdown);
    height: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    box-shadow: var(--box-shadow-1);
    transition: height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}
.container .menu-show {
    height: auto;
}
.container .menu-dropdown a {
    font-weight: bold;
}
.container .menu-dropdown li {
    padding: 1rem 0;
}
/* Responsive */
@media screen and (max-width: 840px) {
    .navbar .links,
    .navbar .report-btn {
        display: none;
    }

    .navbar .toggle-menu {
        display: block;
    }
    .container .menu-dropdown {
        display: block;
    }
}

@media screen and (max-width: 320px){
    .container header h1 {
        font-size: calc(var(--h1-font-size) - 0.2rem);
    }
    .container .menu-dropdown {
        left: 1rem;
        width: unset;
    }
}