<div class="container">
  <header>
    <div class="navbar">
      <h1>Money Track</h1>
      <ul class="links">
        <li><a [routerLink]="['']">Home1</a></li>
        <li><a [routerLink]="['']">Track</a></li>
        <li><a [routerLink]="['']">Summary</a></li>
        <li><a [routerLink]="['']">Contact</a></li>
      </ul>
      <a class="report-btn" href="/">Report</a>
      <div class="toggle-menu" (click)="toggle_menu()">
        <span class="material-symbols-sharp">
          menu
        </span>
      </div>
    </div>


    <div [ngClass]="['menu-dropdown', showSideMenu ? 'menu-show' : '']">
      <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['']">Track</a></li>
        <li><a [routerLink]="['']">Summary</a></li>
        <li><a [routerLink]="['']">Contact</a></li>
        <li class="toggle-btn">
          <a class="report-btn" href="/">Report</a>
        </li>
      </ul>
    </div>
  </header>

  <section>
    <router-outlet></router-outlet>
  </section>
  
</div>