/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@300&display=swap');
:root {
    --color-background: #E7E7E7;
    --color-theme: #EB9532;
    --color-text-dark: black;
    --color-text-white: white;

    --box-shadow: 0 0.9rem 2rem gray;
    --box-shadow-1: 0 2rem 4rem rgba(179, 178, 178, 0.93);

    /* Font size */
    --h1-font-size: 1.4rem;

    /* Width */
    --width-menu-dropdown: 18rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: var(--color-background);
}
h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    color: var(--color-theme);
}
h2 {
    font-weight: bold;
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 0.9rem;
}
li {
    list-style: none;
}
a { 
    text-decoration: none;
    color: var(--color-text-dark);
}
p {
    color: gray;
}